
$headerColor: #3EB2E6;
$white: #ffffff;
$gray: #d1d1d1;


$pass: #008000;
$fail: #800000;
$Neutral: $white;
$MultipleErrors: #F08144;
$ParityBit: #add8e6;
$NA: rgb(128, 128, 128);

$appLayout:
"header header header header"
"tables tables tables options"
"tables tables tables options"
"tables tables tables options"
"tables tables tables options"
"tables tables tables options"
"tables tables tables options"
"tableKey tableKey stats options"
;