@import "./variables";
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100%;
  
  grid-template-areas:$appLayout;
}
