
$headerColor: #3EB2E6;
$white: #ffffff;
$gray: #d1d1d1;


$pass: #008000;
$fail: #800000;
$Neutral: $white;
$MultipleErrors: #F08144;
$ParityBit: #add8e6;
$NA: rgb(128, 128, 128);

$appLayout:
"header header header header"
"tables tables tables options"
"tables tables tables options"
"tables tables tables options"
"tables tables tables options"
"tables tables tables options"
"tables tables tables options"
"tableKey tableKey stats options"
;

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}



.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100%;
  
  grid-template-areas:$appLayout;
}


#header{
  grid-area: header;
  background-color: $headerColor;
  display: flex;
  padding: 20px;

  #wordSender, #wordReciver {
    flex: 2;
    height: 80%;
  }

  input, input:disabled {
    background-color: $white;
    height: 100%;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 35px;
  }

  

  #headerArrow{
    color: $white;
    flex: 1;
    font-size: 4em;
    text-align: center;
  }

  
  

}

#options{
  grid-area: options;
  background-color: darken( $headerColor, 10% );
  color: $white;
  font-weight: bold;
  display: grid;
  grid-template-areas: 
    "sender"
    "common"
    "reciver"
  ;
  span{
    display: block;
    margin: 20px;
    height: 20px;
    cursor: pointer;
  }

      
  .active{
    color: $white;
  }

  .disabled{
    color: $gray;
  }

  .senderOptions {
    grid-area: sender;
  }

  .commonOptions{
    grid-area: common;
  }

  #reciverOptions{
    grid-area: reciver;
  }


  
}

#tables {
  grid-area: tables;
  display: grid;
  grid-template-areas: "sender reciver";
  color: $white;
  font-weight: bold;

  .Pass {background-color: $pass;}
  .Fail{background-color: $fail;}
  .Neutral{background-color: $Neutral;}
  .MultipleErrors{background-color: $MultipleErrors;}
  .ParityBit{background-color: $ParityBit;}

  #sender{
    grid-area: sender;
    color: black;
  }

  #reciver {
    grid-area: reciver;
  }

  table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    text-align: center;
    overflow: hidden;
    td{
      border: 2px black solid;
    }
  }

}


#tableKey {
  grid-area: tableKey;
  color: black;
  padding: 20px;
  // margin-left: 30%;
  // transform: translate(-20%,0);
  font-weight: bold;
  font-size: 20px;
  ul{
    list-style: none;

    li{
      padding-left: 50px;
      display: inline;
    }
    

    li::before {
      content: "";
      height: 30px;
      width: 30px;
      position: absolute;
      border-radius: 50%;
      margin-left: -40px;
      margin-top: -3px;
      border: 1px  darken( $headerColor, 10% ) solid;
    }

    #Pass::before {
      background-color: $pass;
    }

    #Fail::before {
      background-color: $fail;
    }

    #ParityBit::before {
      background-color: $ParityBit;
    }

    #Neutral::before {
      background-color: $Neutral;
    }

    #MultipleErrors::before {
      background-color: $MultipleErrors;
    }

    #NA::before {
      background-color: $NA;
    }

    


  }
}

#stats{
  grid-area: stats;
  ul{
    list-style: none;
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
  }
}